.container { 
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 760px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: #212121;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.screen {
    height: 100px;
    width: 380px;
    background-color: #393E46;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    font-size: 25pt;
    background-color: #b8b8b8;
}

#zero {
    width: 190px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.blue {
    background-color: #285f81;
}

.grey {
    background-color: #858585
}

#inputs {
    text-align: end;
    font-size: 25pt;
    color: #b8b8b8;
    height: 40px;
    width: 380px;
    
}

#display {
    text-align: end;
    font-size: 45pt;
    color: #b8b8b8;
    height: 70px;
    width: 380px;
    
}

